* {
  box-sizing: border-box;
}

.inputLineContainer {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.inputLineInput {
  width: 100%;
  padding-left: 3px;
  border: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background: none;
  font-weight: inherit;
}

.inputLineInput:focus {
  outline: none;
}

.terminalLine {
  color: white;
  font-weight: bold;
}

.content-container {
  padding: 0px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 98%;
}

.terminal-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
